<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014479940058-3hvb5qbu4sc83ssu1p3co6vp4kgilsnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014479940058-3hvb5qbu4sc83ssu1p3co6vp4kgilsnt</string>
	<key>API_KEY</key>
	<string>AIzaSyDIye2hCB46BxkvSTZtCO7L2Dpb2q1sSrE</string>
	<key>GCM_SENDER_ID</key>
	<string>1014479940058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itAcademyCourse.BookShelfApp</string>
	<key>PROJECT_ID</key>
	<string>bookshelf-4d757</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshelf-4d757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014479940058:ios:79870a05200b85f9e0b8e3</string>
</dict>
</plist>